#texteformulaire {
	width: 80%;
	height: 10vh;
	display: flex;
	border-radius: 2em;
	background-color: #043784;
	margin-top: 60px;
	font-size: 90px;
	color: white;
	box-shadow: 5px 5px 5px black;
	border: 2px solid black;
}

#formulaire {
	display: flex;
	justify-content: center;
}

.rechercher {
	display: flex;
	justify-content: center;
	padding-top: 60px;
	color: white;
	
}

#valider {
	background-color: #043784;
	font-size: 40px;
	padding: 40px 10px 40px 10px;
	background-color: ;
	color: white;
	border: 1px solid black;
	border-radius: 1em;
	width: 50%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cercles {
  display: flex;
  padding-left: 45%;
  padding-top: 32%;

}

.cercle {
	background-color: #043784;
}

.